.carouselCart {
margin-top: 6vw;
margin-left: 3vw;
margin-right:20vw;
}

.carteTitre {
color: white;
margin: 3vw;
}


.postCard :hover{
scale:1.5;
}

.verso {
    position:absolute;
    width: 50vw;
    height: auto;
}   

.ecriCarte {
    display: flex;
    flex-direction: row;
}

.postCardSelected{
    margin :4vw;
    align-items: center;
}