.ticketContainer {
  background-image: url(/background-mapmonde.png);
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  overflow: hidden;
  max-width: 100vw;
}
